%h1= @book.title
%p= @book.author
%p= @book.description
%p= raw @book.tags.map(&:name).map{ |t| link_to t, tag_path(t), class: "badge badge-primary"}.join(' ')
%p= envelope_for(@book, size: 240)
- if @book.file.url
  %p= link_to "Download book", books_download_pdf_book_url
%p
  Review by: #{link_to User.find(@book.user_id).nickname, User.find(@book.user_id)}
- if @book.user_id == current_user&.id
  %br/
  - if @book.is_draft?
    = button_to "Undraft", update_draft_status_book_path(@book.id), method: :put, class:"btn btn-success"
  - else
    = button_to "Draft", update_draft_status_book_path(@book.id), method: :put, class: "btn btn-danger"
  %p
    = link_to "Edit", edit_book_path(@book)
    |
    \#{link_to "Delete", book_path(@book), method: :delete, data: {confirm: 'Are you sure?'}}
