<% if @book.errors.any? %>
  <div class="alert alert-danger">
    <h5>Common errors</h5>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @book, html: {multipart: true} do |f| %>

  <p><%= f.label :title%></p>
  <p><%= f.text_field :title%></p>

  <p><%= f.label :author%></p>
  <p><%= f.text_field :author%></p>

  <p><%= f.label :description%></p>
  <p><%= f.text_area :description%></p>

  <p><%= f.label :Genre_comma_separated%></p>
  <p><%= f.text_field :all_tags%></p>

  <p><%= f.label :envelope %></p>
  <p><%= f.file_field :envelope %></p>

  <p><%= f.label :file %></p>
  <p><%= f.file_field :file %></p>

<p>  <%= f.submit "Save" %><p>

<% end %>
